name: CI

on: [push, pull_request]

jobs:
  unix-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs-version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot

    steps:
      - uses: actions/checkout@v2

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - uses: conao3/setup-cask@master
        with:
          version: 0.8.4

      - name: Run tests
        run: make unix-ci

  windows-test:
    runs-on: windows-latest
    strategy:
      matrix:
        emacs-version:
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot

    steps:
      - uses: actions/checkout@v2

      - uses: jcs090218/setup-emacs-windows@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Run tests
        run: make windows-ci
